
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color:#A60512;
    color: #BFB3A4;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #590212a2;
    width: 300px;
    height: 400px;
    margin:  0 auto;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    border: 3px solid #BFB3A4;
}

.grid{
    display: flex;
    flex-flow: row wrap; /*Quero as celulas em linha, porém quando não tiver mais espaço, ir para a linha de baixo*/
    justify-content: space-evenly; /*Espaçadas com o mesmo espaçamento*/
}

.celula{
    width: 75px;
    height: 65px;
    font-size: 30pt;
    margin: 4px 2px;
    padding-top: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: #BFB3A4;
    color: black;
}

#tela-escura{
    width: 100%;
    height: 100%;
    opacity: 0.95;
    position: absolute;
    color: white;
    background-color: black;
    display: none;
    text-align: center;
    padding-top: 100px;
}